@import '../src/utils/scss/normalize.scss';
@import '../src/utils/scss/fonts.scss';
@import '../src/utils/scss/var.scss';

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: disc;
}

html{
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fafafa !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root{
    height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .prive{
    background-color: #fafafa;
    height: 100%;
  }

  .top_header{
    background-color: #fff !important;
    border-bottom: 1px solid rgb(205, 205, 205);
    position: fixed;
    width: 100%;

    svg{
      cursor: pointer;
    }
  }
